body {
    background: radial-gradient(circle at 0.7% 1%, rgb(160, 192, 214) 0%, rgb(67, 89, 125) 100.2%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#navbar {
    background-color: rgba(229, 250, 251, 0.7);
    padding-left: 2vmin;
    padding-right: 2vmin;
    margin-left: 2vmin;
    margin-right: 2vmin;
    margin-top: 2vmin;
    margin-bottom: 4vmin;
    border-radius: 15px;

}

.navlink {
    text-decoration: none;
}

#logo {
    margin-left: 2px;
    margin-bottom: -7px;
}

.ww {
    font-family: 'Poiret One', cursive;
    font-size: 30px;
    color: black;
    margin-top: -1px;
}

main {
    font-family: 'Comfortaa', cursive;
}

#home-img {
    margin-top: 3vmin;
    max-width: 100%;
    overflow: hidden;
    box-shadow: 12px 12px 1px 8px #293241;
}

#home-img img {
    width: 100%;
    height: auto;
    box-shadow: 2px #293241;
    position: relative;
    z-index: 1;
}

#project-container {
    background-color: #293241;
    border-radius: 1vmin;
    margin-top: 4vmin;
}

.card {
    background-color: rgba(229, 250, 251, 0.7);
}

#project-index {
    background-color: #293241;
    border-radius: 1vmin;
    margin-bottom: 2vmin;
}

#project-index2 {
    background-color: #293241;
    border-radius: 1vmin;
}

#project-buttons {
    display: flex;
    justify-content: end;
    margin-right: 5px;
    margin-bottom: 5px;
}

#edit-project {
    margin-right: 1vmin;
}

.btn {
    background-color: #ee6c4d;
    border: none;
}

#home-content {
    margin-top: 16vmin;
}

#comments {
    margin-bottom: 0px;
}

#add-comment {
    margin-left: 0.5vmin;
    margin-top: -18px;
}

#userc {
   text-decoration: underline; 
}

#members {
    margin-left: 1vmin;
    margin-right: 1vmin;
    border: solid #ee6c4d;
}

#completed {
    margin-left: 2vmin;
}

#middle-button {
    margin-right: 1vmin;
    margin-left: 1vmin;
}

#task-title {
    text-decoration: none;
}
/* accent colors 
#ee6c4d orange
#293241 navy
*/