body {
    background: radial-gradient(circle at 0.7% 1%, rgb(160, 192, 214) 0%, rgb(67, 89, 125) 100.2%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#navbar {
    background-color: rgba(229, 250, 251, 0.7);
    padding-left: 2vmin;
    padding-right: 2vmin;
    margin-left: 2vmin;
    margin-right: 2vmin;
    margin-top: 2vmin;
    border-radius: 15px;
}

.navlink {
    text-decoration: none;
}

#logo {
    margin-left: 2px;
    margin-bottom: -7px;
}

.ww {
    font-family: 'Poiret One', cursive;
    font-size: 30px;
    color: black;
    margin-top: -1px;
}

main {
    font-family: 'Comfortaa', cursive;
}

#project-container {
    background-color: #293241;
    border-radius: 1vmin;
}

.card {
    background-color: rgba(229, 250, 251, 0.7);
}

#project-index {
    background-color: #293241;
    border-radius: 1vmin;
}

.btn {
    background-color: #ee6c4d;
    border: none;
}

#home-content {
    margin-top: 16vmin;
}

/* accent colors 
#ee6c4d orange
#293241 navy
*/