{% extends 'base.html' %}
{% block content %}

<h1 class="text-center">{{ project.title }} Project Details</h1>

<form class="d-flex justify-content-center h-100" action="" method="GET">
  <input class="form-control me-2" type="text" name="username" placeholder="Search by username">
  <button class="btn btn-primary" id="search-button" type="submit">
    <i class="search">Search</i>
  </button>
</form>
<div class="container" id="project-container">
  <div class="row">
    <div class="col-4 mt-3 mb-3">
      <div class="card" id="project-detail-card">
        <div class="card-content">
          <span class="card-title mb-2">{{ project.title }}</span>
          <p class="mb-0">Description: {{ project.description|linebreaks }}</p>
          {% if project.completion %}
            <p>Completed</p>
          {% else %}
            <p>In Progress</p>
          {% endif %}
        </div>

        <div class="card-action">
          <a href="{% url 'projects_update' project.id %}" class="btn btn-primary">Edit</a> 
          <a href="{% url 'projects_delete' project.id %}" class="btn btn-primary">Delete</a> 
        </div>

      </div>
    </div>
    <div class="col-4 mt-3 mb-3">
      <div class="card">
        <form class="text-center mb-2 mt-1" action="{% url 'tasks_create' project.id %}" method="POST">
          <button type="submit" class="btn btn-primary"> Add Task </button>
          {% csrf_token %}
        </form>
          <!-- <a href="{% url 'tasks_create' project.id %}" class="btn btn-primary">Add Task</a> -->
        <div class="card">
          {% for task in project.task_set.all %}
              <a href="{% url 'tasks_detail' project.id task.id %}"><div class="card-header pb-0">{{ task.title }}</div></a>
              <div class="card-body pb-0 pt-2 mb-0">
                <p>{{ task.description }}</p>
                {% if task.completion == True %}
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" value="True" checked>
                  <label class="form-check-label" for="inlineCheckbox1">Completed</label>
                </div>
                {% else %}
                  <p>Still Working...</p>
                {% endif %}
              </div>
          {% empty %}
            <div class="card-panel teal-text center-align">No Tasks Yet</div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="col-4 mt-3 mb-3">
      <div class="card">
          <div class="card-content">
            <span class="card-title"></span>
            <h3 class="text-center">Comment Section</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus ex incidunt id saepe eum, omnis aut officia? Nihil, cupiditate! Fugiat officiis error labore molestiae adipisci cupiditate voluptatem facilis animi aspernatur?</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  <!-- Available Members will come after this line -->
  <div class="col s6">
    <h3>Available Members</h3>
    {% if members.count %}
      {% for member in members.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              {{ member }}
            </span>
          </div>
          <div class="card-action">
            <form action="{% url 'assoc_member' project.id member.id %}" method="POST">
              {% csrf_token %}
              <button type="submit" class="btn">Add</button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>{{project.title}} Already Has All members Available</h5>
    {% endif %}
  </div>
</div>
  


{% endblock %}