{% extends 'base.html' %}
{% block content %}

<h1 class="text-center mt-3 mb-3">My Projects</h1>
<div class="container" id="project-index">
    <div class="row">
        {% for project in projects %}
        <div class="col-sm-4 mb-3 mt-3">
            <div class="card">
                <h3 class="card-title text-center">{{ project.title }}</h3>
                <p class="card-text">Description: {{ project.description }}</p>
                <a href="{% url 'detail' project.id %}" class="btn btn-primary">View Project</a>
            </div>
        </div>
        {% empty %}
        <div class="card">
            <h1>No projects yet, <br> would you like to get started?
                <a class="btn btn-primary" href="{% url 'projects_create' %}">Create A Project</a>
            </h1>
        </div>
        {% endfor %}
    </div>
</div>

<h1 class="text-center mb-3">Associated Projects</h1>
{% for project in assoc_projects %}
<div class="container" id="project-index2"> 
    <div class="row">
        <div class="col-sm-4 mb-3 mt-3">
            <div class="card">
                <h3 class="card-title text-center">{{ project.title }}</h3>
                <p class="card-text">Description: {{ project.description }}</p>
                <a href="{% url 'detail' project.id %}" class="btn btn-primary">View Project</a>
            </div>
        </div>
        {% empty %}
        <div class="card">
            <h1>You have not been added to any projects.</h1>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}